.container-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.card-about {
    width: 800px;
    display: flex;
    align-items: center;
    gap: 50px;
    margin: auto;
}

.card-about .pic {
    width: 50%;
}

.card-about .pic img {
    width: 100%;
    vertical-align: top;
}

.card-about .txt {
    line-height: 1.8;
    width: 50%;
    font-size: 16px;
}

.card-about .txt h2 {
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}

.card-about .txt p {
    padding: 10px;
}

.container-located {
    width: 1000px;
    display: flex;
    /* justify-content: center; */
    gap: 50px;
    position: relative;

}

.map {
    margin-top: 40px;
    width: 500px;
    height: 300px;
}

.map iframe {
    border-radius: 25px;
    width: 100%;
    height: 100%;
}

.title-located {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 20px;
    writing-mode: vertical-lr
}

.mapinfo {
    background-color: #f4b960;
    border-radius: 25px;
    padding: 25px;
    width: 500px;
    height: 300px;
    /* height: 500px; */
    margin: auto;
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.mapinfo ul li {
    margin: 20px 0;
}

.section-located {
    margin-bottom: 200px;
}

.titles-service {
    font-size: 36px;
    font-weight: bold;

}

.title-service {
    width: 300px;
    margin: auto;
    padding: 20px;
    border-bottom: 1px solid #000000cc;

}

.categoryservice button {
    border: none;
    background-color: #fff;
    font-size: 24px;
    margin: 20px 30px;
    width: 100px;
}

.container-service {
    max-width: 900px;
    text-align: center;
}

.container-service .card .pic {
    width: 600px;
    margin-top: 20px;
    margin: auto;
}

.container-service .card .pic img {
    width: 100%;
    vertical-align: top;
}

.container-service .card .txt {
    padding-top: 30px;
    margin: auto;
    width: 600px;
    line-height: 2;
}

.card-about .txt .m-txt {
    display: none;
}

@media (max-width:992px) {
    .bone::before {
        left: 130px;
        transform: translateY(75%);

    }

    .container-located {
        width: unset;
        max-width: 700px;
    }

    .mobile {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    header {
        position: relative;
    }

    nav {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
        position: absolute;
        top: 100%;
        left: -100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80%;
        height: 100vh;
        z-index: 2;
        background-color: #fff;
        padding: 16px;
        border-radius: 0 0 25px 25px;
        gap: 20px;


    }

    nav a {
        width: 100%;
        margin-right: 0;
        font-size: 28px;
        padding: 10px 0;
        /* margin: auto; */

    }

    nav .bone+.bone {
        border-top: 2px solid #eee;
    }

    .hb {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 24px;
        height: 24px;

        border-radius: 5px;
    }

    .hb span {
        width: 80%;
        height: 2px;
        border-radius: 5px;
        background-color: #000000cc;
    }

    nav .sign {
        display: none;

    }

    .pic-banner {
        top: 0;
        width: 250px;
        pointer-events: none;
    }
}

@media (max-width:768px) {
    .container-service .card .txt {
        line-height: 2;
    }

    .categoryservice button {
        margin: 20px;
    }

    .mapinfo {
        top: 100%;
        left: 74px;
        width: unset;
        max-width: 500px;

        padding: 0;
        margin: 0;
    }

    .categoryservice .live,
    .categoryservice .set,
    .categoryservice .takecare {
        width: unset;
        max-width: 100px;
    }

    .card-about,
    .container-located,
    .container-service,
    .container-service .card .pic,
    .container-service .card .txt {
        width: unset;
        max-width: 600px;
    }

    .more {
        margin-top: 20px;
        align-self: unset;
        text-align: center;
    }

    .houseinfo {
        flex-direction: column;
        gap: 10px;
        font-size: 12px;
        margin: auto;
    }

    .houseinfo h3 {
        margin-bottom: 2px;
    }

    /*共用設定*/
    .container {
        max-width: 600px;
    }


    .copyright,
    .title-news,
    .card-news .card,
    .txt-comfortable,
    .txt-card-comfortable {
        width: unset;
        max-width: 500px;
    }

    .pic-card-comfortable,
    .card-service .card,
    .title-service {
        width: unset;
        max-width: 300px;
    }

    .section-banner {
        height: unset;
        position: relative;
    }

    .container-banner {
        position: static;
    }

    .txt-banner {
        margin-left: 10%;
        width: fit-content;
    }

    .txt-banner-ch {
        padding-left: 100px;
    }

    .section-banner h1 {
        font-size: 32px;
    }

    .titles-service,
    .title-located,
    .card-about .txt h2,
    .txt-banner,
    .txt-card-comfortable h2,
    .title-service h2 {
        font-size: 24px;
    }

    .txt-banner p {
        font-size: 16px;
    }

    .container-banner .pic-banner {
        width: unset;
        max-width: 200px;
        top: 50px;
    }

    .card-news {
        max-width: 500px;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .card-news .card {
        flex-direction: row;
    }



    .copyright {
        font-size: 12px;
        text-align: center;
        padding: 0 4px;
    }

    .choose-why {
        margin-bottom: 30px;
    }

    .card-news .txt {
        flex-grow: 0;
        max-width: 300px;
        ;
    }

    .card-service .card .txt p {
        display: none;
    }

    .card-service .card .pic {
        width: unset;
        max-width: 100px;
    }

    .card-news .pic {
        width: unset;
        max-width: 100px;
        flex-grow: 1;
    }

    .choose-txt {
        flex-direction: column;
    }

    .number-right,
    .txt-comfortable-right {
        text-align: unset;
    }

    .number {
        position: static;
    }

    .number-right {
        margin-left: unset;
    }

    .txt-comfortable {
        /* margin-top: 20px; */
        padding: 20px 8px;
    }

    .border-top,
    .txt-comfortable+.txt-comfortable {
        border-top: 1px solid #f0f0f0;
    }

    .pic-choose img {
        display: none;
    }

    .card-comfortable {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    br {
        display: block;
    }

    .section-comfortable {
        margin-bottom: 0;
    }

}

@media (max-width:430px) {
    .card-about .txt .d-txt {
        display: none;

    }

    .card-about .txt .m-txt {
        display: block;
    }

    .card-about .txt p span {
        display: block;
    }

    .categoryservice .current {
        width: 30%;
    }

    .mapinfo {
        padding: 0 10px;
    }

    .categoryservice button {
        margin: 20px 0;
    }

    .section-banner h1 {
        font-size: 32px;
    }

    .container-banner .pic-banner {
        left: 50%;
        top: 100%;
        transform: translate(-50%);
        width: unset;
        max-width: 300px;
    }

    .txt-banner p {
        display: none;
    }

    .section-about {
        margin-top: 250px;
    }


    .container-copyright p {
        font-size: 10px;

    }

    .txt-banner p br {
        display: none;
    }

    br {
        display: block;
    }

    .content {
        padding-right: 0;
    }

    .card-service .card .pic {
        width: unset;
        max-width: 70px;
    }

    .card-service .txt h3 {
        font-size: 16px;
    }
}