.title-products {
    max-width: 900px;
    margin: auto;
    text-align: center;
    line-height: 1.5;
}

.title-products h2 {
    font-size: 36px;
    font-weight: bold;
}

.categoryproducts button {
    border: none;
    background-color: #fff;
    font-size: 24px;
    margin: 20px 30px;
    width: 100px;
}

.container-products-pic {
    max-width: 900px;
}

.container-products-pic .card {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.container-products-pic .pic {
    max-width: 250px;
    height: 250px;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}

.container-products-pic .pic img {
    width: 100%;
}

.container-products-pic h2 {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}

.container-products-pic p {
    font-size: 18px;
    text-align: right;
    color: #f4a52e;
    font-weight: bold;
}

.container-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-quantity .left {
    border-radius: 25px 0 0 25px;
    color: #000000cc;

}

.container-quantity .right {
    border-radius: 0 25px 25px 0;
}

.container-quantity button {
    width: 50px;
    height: 50px;
    border: 1px solid #000000cc;
    background-color: #fff;
}

@media (max-width:992px) {
    .bone::before {
        left: 130px;
        transform: translateY(75%);

    }

    .mobile {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    header {
        position: relative;
    }

    nav {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
        position: absolute;
        top: 100%;
        right: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        display: none;
        width: 80%;
        height: 100vh;
        z-index: 2;
        background-color: #fff;
        padding: 16px;
        border-radius: 0 0 25px 25px;
        gap: 20px;


    }

    nav a {
        width: 100%;
        margin-right: 0;
        font-size: 28px;
        padding: 10px 0;
        /* margin: auto; */

    }

    nav .bone+.bone {
        border-top: 2px solid #eee;
    }

    .hb {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 24px;
        height: 24px;
        /* background-color: #fa0; */
        border-radius: 5px;
    }

    .hb span {
        width: 80%;
        height: 2px;
        border-radius: 5px;
        background-color: #000000cc;
    }

    nav .sign {
        display: none;

    }

    .pic-banner {
        top: 0;
        width: 250px;
        pointer-events: none;
    }
}

@media (max-width:768px) {

    .houseinfo {
        flex-direction: column;
        gap: 10px;
        font-size: 12px;
        margin: auto;
    }

    .houseinfo h3 {
        margin-bottom: 2px;
    }

    /*共用設定*/
    .container {
        max-width: 600px;
    }


    .copyright {
        width: unset;
        max-width: 500px;
    }

    .section-banner {
        height: unset;
        position: relative;
    }

    .container-banner {
        position: static;
    }

    .txt-banner {
        margin-left: 10%;
        width: fit-content;
    }

    .txt-banner-ch {
        padding-left: 100px;
    }

    .section-banner h1 {
        font-size: 32px;
    }


    .txt-banner {
        font-size: 24px;
    }

    .txt-banner p {
        font-size: 16px;
    }

    .container-banner .pic-banner {
        width: unset;
        max-width: 200px;
        top: 100px;
    }




    .copyright {
        font-size: 12px;
        text-align: center;
        padding: 0 4px;
    }

    br {
        display: block;
    }


    .title-products h2 {
        font-size: 24px;
    }

    .categoryproducts button {
        margin: 20px 0;
    }


}

@media (max-width:430px) {
    .section-products {
        margin-top: 250px;
    }

    .categoryservice .current {
        width: 30%;
    }

    .section-banner h1 {
        font-size: 32px;
    }

    .container-banner .pic-banner {
        left: 50%;
        top: 100%;
        transform: translate(-50%);
        width: unset;
        max-width: 300px;
    }



    .container-copyright p {
        font-size: 10px;

    }


    br {
        display: block;
    }

    .cards {
        flex-direction: column;
        align-content: center;
    }

}