.top {
    padding: 5px;
    width: 30px;
    height: 60px;
    position: fixed;
    bottom: 30%;
    right: 0;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: #f4b960;
    cursor: pointer;
    display: none;
}